.git
.github
node_modules
dist
coverage
*.log
.env
.env.*

terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/*.tfvars
terraform/*.tfvars.json
terraform/terraform-lab-key
terraform/terraform-lab-key.pub
terraform/**/terraform-lab-key
terraform/**/terraform-lab-key.pub
